# .gitignore

# Files generated during the Hugo publishing process
/hugo-src/public/
/hugo-src/resources/
hugo_stats.json

# Temporary lock file while building Hugo
.hugo_build.lock

# Ideas that need not be shared publicly
content-ideas.txt
