<nav class="pv3 ph3 ph4-ns" role="navigation">
  <div class="flex-l center items-center justify-between">
    <a href="/" class="f3 fw2 hover-white white-90 dib no-underline">pngdeity</a>
    <ul class="pl0 mr3">
      <li class="list f5 f4-ns fw4 dib pr3"><a class="hover-white white-90 no-underline" href="/">Home</a></li>
      <li class="list f5 f4-ns fw4 dib pr3"><a class="hover-white white-90 no-underline" href="/blog/">Blog</a></li>
      <li class="list f5 f4-ns fw4 dib pr3"><a class="hover-white white-90 no-underline" href="/blog/tags/">Tags</a></li>
      <li class="list f5 f4-ns fw4 dib pr3"><a class="hover-white white-90 no-underline" href="/pngdeity_files/resume.pdf">Resumé</a></li>
      <li class="list f5 f4-ns fw4 dib pr3"><a class="hover-white white-90 no-underline" href="/pngdeity_files/vcard.vcf">Contact</a></li>
    </ul>
    {{ partials.Include "theme-toggle.html" . }}
  </div>
</nav>
