<footer class="bg-black bottom-0 w-100 pa3" role="contentinfo">
  <div class="flex justify-between">
    <a class="f4 fw4 hover-white white-70 pv2 ph3 no-underline" href="/">&copy; {{ .Site.Title }} {{ now.Format "2006" }}</a>
    <div class="f5 fw4 pv2 ph3">
      <a class="hover-white white-70 no-underline pr3" href="https://github.com/pngdeity">Code</a>
      <a class="hover-white white-70 no-underline" href="https://en.wikipedia.org/wiki/User:Pngdeity">Wikipedia</a>
    </div>
  </div>
</footer>
